<main>
  <section id="profile">
    <div>
      <img src="../assets/batman_avatar.webp" />
      <span id="userName">Neistan</span>
    </div>
    <div>
      <span>10</span>
      <span>Publicaciones</span>
    </div>
    <div>
      <span>5</span>
      <span>Seguidores</span>
    </div>
    <div>
      <span>250</span>
      <span>Solicitudes</span>
    </div>
  </section>
  <section id="gallery">
    <img src="batman_avatar.webp" />
    <img src="gallery1.jpg" />
    <img src="gallery2.webp" />
    <img src="gallery3.jpeg" />
    <img src="gallery4.jpg" />
    <img src="gallery5.jpg" />
    <img src="gallery6.jpg" />
    <img src="gallery7.jpg" />
    <img src="gallery8.webp" />
    <img src="gallery9.avif" />
  </section>
</main>